<%- include("partials/header") %>

            <p>Created for toy project by Rosie Junghwa Yang.</p>
            <p>You can see source code on <a href="https://github.com/rosiejh/weather-app">GitHub</a>.</p>
            <p>Please visit <a href="https://rosiejh.github.io/diary/2020-02-01-weatherapp">my blog</a> to see more details and stacks used.</p>
            <p><a href="/">⬅︎ Go Back</a></p>
            
<%- include("partials/footer") %>